/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #3e2723;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header h1 {
    color: #6d4c41;
    margin-bottom: 20px;
}

/* Estilos del menú */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    background-color: #8d6e63;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6d4c41;
}

/* Estilos del contenedor */
nav {
    background-color: #d7ccc8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
